@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  animation: 3s loading infinite;
}

nav {
  position: absolute;
  z-index: 2;
  width: 100%;
}
nav div {
  display: inline-block;
}
nav .logo {
  position: absolute;
  left: 20px;
}
nav .logo h3 {
  font-family: 'Dosis', sans-serif;
  display: inline-block;
  font-size: 2em;
}
nav .logo i {
  color: #26baff;
}
nav .links {
  position: absolute;
  right: 30px;
  top: 35px;
}
nav .links a {
  color: white;
}
nav .fa {
  font-size: 2em;
}

body {
  background-size: cover;
  background-position: center center;
  color: white;
  margin: 0;
}
body h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
}

.quote-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  z-index: 2;
}
.quote-container p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}
.quote-container .content .movie1 {
  color: #26baff;
}
.quote-container .btn {
  text-decoration: none;
  border-radius: 5px;
  transition: 0.7s;
  margin: 10px;
}
.quote-container .btn p {
  margin: 10px;
  font-size: 1.2em;
}
.quote-container .btn p .fa {
  margin-right: 10px;
}
.quote-container .solid-btn {
  background-color: #26baff;
  border: none;
  color: black;
}
.quote-container .solid-btn:hover {
  background-color: black;
  -webkit-box-shadow: -1px 0px 71px 0px #26baff;
  -moz-box-shadow: -1px 0px 71px 0px #26baff;
  box-shadow: -1px 0px 71px 0px #26baff;
  color: #26baff;
}
.quote-container .solid-btn:active {
  background-color: #ff7526;
  color: black;
  -webkit-box-shadow: -1px 0px 71px 0px black;
  -moz-box-shadow: -1px 0px 71px 0px black;
  box-shadow: -1px 0px 71px 0px black;
}
.quote-container .transparent-btn {
  border: 1px solid #26baff;
  color: #26baff;
}
.quote-container .transparent-btn:hover {
  background-color: white;
  color: black;
  border-color: white;
  -webkit-box-shadow: -1px 0px 71px 0px black;
  -moz-box-shadow: -1px 0px 71px 0px black;
  box-shadow: -1px 0px 71px 0px black;
}
.quote-container .transparent-btn:active {
  background-color: #ff7526;
  border-color: #ff7526;
  color: black;
  -webkit-box-shadow: -1px 0px 71px 0px black;
  -moz-box-shadow: -1px 0px 71px 0px black;
  box-shadow: -1px 0px 71px 0px black;
}

.overlay-bg {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(10, 30, 51, 0.48) 0%, rgba(7, 0, 0, 0.9) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(10, 30, 51, 0.48) 0%, rgba(7, 0, 0, 0.9) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(10, 30, 51, 0.48) 0%, rgba(7, 0, 0, 0.9) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a0a1e33', endColorstr='#e6070000',GradientType=0 );
  /* IE6-9 */
}

.actions {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 2;
}
.actions a {
  display: inline-block;
}
